
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Critical Stock Report </h1> 
    <h4 class="display-4 text-center">Date </h4> 

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Quantitiy</th>
      <th scope="col">Critical level</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" >
      <td>{{item.id}}</td>
      <td>{{item.itemName}}</td>
      <td>{{item.bName}}</td>
      <td>{{item.que}}</td>
      <td>{{item.criticalValue}}</td>

    </tr>  
  </tbody>
</table>
</div>


